# direnv related secret file
.envrc

### https://raw.github.com/github/gitignore/1a92ca87b787b6a0c68eb10371ebd0bfd823db9b/Terraform.gitignore

# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/


